In [1]:
import pandas as pd

In [24]:
data = {'İsim': ['Alp', 'Yağmur', 'Bex'],
       'Yaş' : [20,30,19]}

In [25]:
df = pd.DataFrame(data)

In [26]:
df.head()

     İsim  Yaş
0     Alp   20
1  Yağmur   30
2     Bex   19

In [27]:
age = df['Yaş']
filtre = df[df['Yaş'] > 25]

In [28]:
filtre

     İsim  Yaş
1  Yağmur   30

In [29]:
df['Cinsiyet'] = ['Erkek', 'Kadın', 'Belirsiz']

In [30]:
df.head()

     İsim  Yaş  Cinsiyet
0     Alp   20     Erkek
1  Yağmur   30     Kadın
2     Bex   19  Belirsiz

In [31]:
grup = df.groupby('Cinsiyet')['Yaş'].mean()

In [34]:
grup

Cinsiyet
Belirsiz    19.0
Erkek       20.0
Kadın       30.0
Name: Yaş, dtype: float64